.about-us {
  width: 84%;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 7.3%;
  padding-left: 12.6%;
  box-sizing: border-box;
  background: url(../img/advantages/2005.png) no-repeat -22px -3px;
  background-size: 17.5%;

  @media (max-width: 750px) {
    width: 100%;
    padding-left: 231px;
    padding-bottom: 83px;
    background-position: -11px 8px;
    background-size: 33%;
  }
}

.about-us__title {
  margin: 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 2.3em;
  line-height: 22px;
  color: #666666;
}

.about-us__text {
  font-size: 1em;
  line-height: 22px;
  margin-top: 3%;
}

.about-us__text:nth-of-type(2) {
  margin-bottom: 30px;
  margin-top: 1%;
}

.about-us__link {
  display: block;
  width: 17%;
  padding: 1.5% 0;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 87.5%;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.05em;
  color: #00B2FF;
  text-decoration: none;
  border: 1px solid #00b2ff;
  border-radius: 4px;
  text-transform: uppercase;
}

.about-us__link:hover {
  background-color: #00b2ff;
  color: #fff;
}

.about-us__points {
  display: none;

  @media (max-width: 750px) {
    display: inline-block;
  }
}

.about-us__deck {
  @media (max-width: 750px) {
    display: none;
  }
}
