.advantages {
  padding-top: 112px;

  @media (max-width: 750px) {
    min-width: 750px;
    padding-top: 54px;
  }
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;

  @media (max-width: 750px) {
    padding-left: 0;
    justify-content: space-between;
  }
}

.advantages__item {
  position: relative;
  width: 43.31%;
  min-height: 299px;
  margin-bottom: 2.28%;
  padding: 3%;
  border: 1px solid #EBEBEB;
  border-left: 3px solid #00B2FF;
  box-sizing: border-box;

  /*&::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 267px;
    background-color: #00B2FF;

    @media (max-width: 750px) {
      height: 305px;
    }
  }*/

  &:nth-child(odd) {
    margin-right: 2.28%;

    @media (max-width: 750px) {
      margin-right: 0;
    }
  }

  @media (max-width: 750px) {
    width: 345px;
    height: 306px;
  }
}

.advantages__item:hover {
  background-color: #00B2FF;
}

.advantages__item:hover .advantages__title,
.advantages__item:hover .advantages__text {
  color: #fff;
}

.advantages__title {
  margin: 0;
  margin-top: 41px;
  margin-left: 2px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 150%;
  line-height: 210%;
  color: #00B2FF;
}

.advantages__text {
  margin: 0;
  margin-top: 11px;
  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  line-height: 140%;
  color: #666666;
}
