.nav-footer {
  width: 40%;
  height: 140px;
}

.nav-footer__list {
  @include list-reset;
  padding-left: 42px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 140px;
}

.nav-footer__item--text {
  padding-bottom: 16px;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1B2D37;
  opacity: 1;
}

.nav-footer__item {
  width: 52%;
  font-family: PT Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
}

.nav-footer__item:nth-of-type(6) {
  padding-top: 39px;
}

.nav-footer__link {
  text-decoration: none;
  color: rgba(27, 45, 55, 0.5);
}
