.service {
  padding-top: 4.5%;
  padding-bottom: 112px;
  background-color: #1B2D37;

  @media screen and (max-width: 1199px) {
    padding-top: 7%;
    padding-bottom: 4%;
  }

  @media screen and (max-width: 767px) {
    padding-top: 15%;
    padding-bottom: 13%;
  }
}

.service__title {
  margin: 0;
  margin-left: 11.5%;
  margin-bottom: 3.6%;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 2.28em;
  line-height: 51px;
  color: #FFFFFF;

  @media screen and (max-width: 1199px) {
    width: 88%;
    margin-left: 0;
    margin-bottom: 46px;
    font-size: 2.3em;
    line-height: 42px;
  }

  @media screen and (max-width: 767px) {
    width: 88%;
    margin-left: 7%;
    margin-bottom: 13%;
    font-size: 2em;
    line-height: 40px;
  }
}

.service__list {
  @include list-reset;
  display: flex;
  padding: 0 4% 0 9.7%;

  @media screen and (max-width: 1199px) {
    flex-direction: column;
    padding: 0;
  }
}

.service__item {
  position: relative;
  width: 29%;
  height: 550px;
  margin-left: 23px;
  padding: 25px 38px;
  background: url(../img/service/1-1.png) no-repeat center;
  box-sizing: border-box;

  &:nth-child(1) {
    @media screen and (max-width: 1199px) {
      background-size: 100%;
    }
  }

  &:nth-child(2) {
    background: url(../img/service/2.png) no-repeat center;

    @media screen and (max-width: 1199px) {
      background-size: 100%;
    }
  }

  &:nth-child(3) {
    background: url(../img/service/3-1.png) no-repeat center;

    @media screen and (max-width: 1199px) {
      background-size: 100%;
    }

  }

  &:hover {
    border: 1px solid #00b2ff;
  }

  @media screen and (max-width: 1199px) {
    width: 100%;
    height: 258px;
    margin-left: 0;
    margin-bottom: 6.5%;
    padding: 23px 43px;
    overflow: hidden;
    background-size: contain;
    background: url(../img/service/750_1.png) no-repeat center;
  }

  @media screen and (max-width: 767px) {
    width: 91%;
    height: 254px;
    margin-left: 4%;
    margin-bottom: 9%;
    padding: 0% 11.5%;
    background-size: contain;
    background: url(../img/service/320_1.png) no-repeat center;
  }
}

.service__text {
  width: 57%;
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 28px;
  color: #FFFFFF;

  @media screen and (max-width: 1199px) {
    width: 24%;
    font-size: 1.4em;
    line-height: 33px;
  }

  @media screen and (max-width: 767px) {
    width: 77%;
    line-height: 29px;
  }


}

.service__item:nth-child(2) .service__text {
  @media screen and (max-width: 767px) {
    line-height: 32px;
  }
}

.service__item:nth-child(3) {
  @media screen and (max-width: 767px) {
    padding-top: 4%;
  }
}

.service__item:nth-child(3) .service__text {
  @media screen and (max-width: 767px) {
    line-height: 32px;
  }
}

.service__deck {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 57px;
  height: 57px;
  background: #00B2FF url(../img/service/erroy.svg) no-repeat center;

  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 1;
  }

  @media screen and (max-width: 1199px) {
    width: 62px;
    height: 62px;
  }
}
