.container {
  max-width: 1316px;
  min-width: 300px;
  margin: 0 auto;

  @media (max-width: 770px) {
    padding: 0 25px;
  }

  @media (max-width: 770px) {
    max-width: 320px;
    padding: 0;
  }

}

.visually-hidden {
  font-size: 0;
}
