.container {
  width: 1416px;
  margin: 0 auto;

  @media (max-width: 750px) {
    width: 700px;
    margin: 0 auto;
  }

  @media (max-width: 320px) {
    width: 940px;
    margin: 0 auto;
  }
}

.visually-hidden {
  font-size: 0;
}
